@font-face{
    font-family: nb;
    src: url(NBInternationalProBoo.ttf);
}
@font-face{
    font-family: rejoy;
    src: url(Rejouice-Headline.ttf);
}
html,body{
   background-color: rgba(255, 228, 196, 0.105);
   overflow: hidden;
    width: 100%;
    height:100%;
    font-family: "nb";
    padding-top: 0%;
    padding-bottom: 0%;
    margin: 0%;
   
}

#page1{
height:100vh;
width: 100%;
background-color:#dadada;
position: relative;
}
#cursor{
    position: fixed;
    height: 6.5vw;
    width: 6.5vw;
    background-color: #ff6038be;
    border-radius: 50%;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}
#cursor h4{
   font-size: 1.2vw;
   font-weight: 500;
}
#page1 video{
    height:100vh;
    width:100%;
    object-fit: cover;
    position: absolute;

}
#page1-content{
    height:100%;
    width:100%;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    z-index: 10;
}
#page1-content h1 span{
   display: inline-block;
}


 nav{
    width: 90%;
    height:70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
     
 }
 nav h3{
    font-size: 1rem;
    font-weight: 100;
 }
 nav h4{
    font-size: 1.5rem;
    font-weight: 100;
 }
 #page1-content h1{
  font-size: 26vw;
  font-weight: 300;
  padding: 0;
  line-height: 0%;
    font-family: rejoy;
 }
 #page2{
    height:100vh;
    width:100%;
    position:relative
 }
 #page2-top{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid black;
 }
 #page2-top h3{
    padding-left: 1rem;
    font-size: 1.7vw;
    font-weight: 500;
    width:26%;
 }
 #page2-top h4{
    line-height: 0;
    font-size: 1.7vw;
    padding-right: 1rem;
    font-weight: 500;
 }
 .elem{
    padding-top: 1vw;
    overflow: hidden;
    align-items: center;
 }
 .elem h1{
   line-height: 4vw;
    text-align: center;
    font-size: 4vw;
    font-weight: 500;
    color: black;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
 }
 #page3{
   min-height: 100vh;
   width: 100%;
   position: relative;
   align-items: center;
   justify-content: center;
   text-align: center;
   padding-top: 2vw;

 }
 #page3-top h4{
margin-bottom: 1vw;
font-size: 1vw;
font-weight: 500;
 }
 #page3-top h4 span{
   font-size: 0.7vw;
   background-color: black;
   color: white;
   padding: 4px 7px;
   border-radius: 10px;
 }
 #page3-top h2{
   font-size: 4vw;
   font-weight: 500;
 }
 #page3-elem{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   height: 70vh;
width: 100%;
margin-top: 7vw;
 }
 .box{
  
   height: 100%;
   width: 32.5%;
   position: relative;
 }
 .box video{
   object-fit: cover;
   object-position: center;
   height: 100%;
   width: 100%;

 }
 .box img{
   position: absolute;
   object-fit: cover;
   object-position: center;
   height: 100%;
   width: 100%;
   transition: all linear 0.7s;
 }
 #page3-elem .box:hover img{
   opacity: 0;
 }
 #page4{
   height:100vh;
   width:100%;
   position:relative
 }
 #page4-top{
   padding-top: 3vw;
   text-align: left;
   padding-bottom:1.2vw;
   border-bottom: 1px solid black;
}
#page4-top h3{
   line-height: 0.4vw;
   padding-left: 3vw;
   font-size: 1.7vw;
   font-weight: 500;
}

.elem2{
   padding-top: 1vw; 
   padding-bottom: 3vw;
   overflow: hidden;
   align-items: center;
}
.elem2 h1{
   line-height: 4vw;
   text-align: center;
   font-size: 4vw;
   font-weight: 500;
   color: black;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
}
#page5{
   justify-content: center;
   height: 100vh;
   width: 100%;
   display: flex;
   align-items: center;
   position: relative;
  
   width:100%;
}
#page5 video{
   height: 100%;
}
#page5 h1{
   color: white;
   font-weight: 500;
   font-family: rejoy;
   position: absolute;

}
#page5 svg{
   height: 60%;
   position: absolute;
   animation: rotation 2s infinite ease;
}
@keyframes rotation{
   from{
      transform: rotate(0deg);
   }
   to{
      transform: rotate(359deg);
   }
}
#page6{
  min-height:100vh;
   width:100%;
   position: relative;
padding-top: 2vw;
}
#page6-top{

   border-bottom: 1px solid black;
   width: 90%;
   justify-content: center;
   align-items: center;
   margin-left: 5vw;
}
#page6-top h1{
   font-size: 8vw;
   font-family: rejoy;
   text-align: left;
   line-height: 0;
   padding-left: 3vw;
   font-weight: 500;
   width: 90%;

} 
#swiperdiv{
   height: 60vh;
   width:100%;
   position: relative;
   margin-top: -3%;
}

.swiper {
   width: 100%;
   height: 100%;
 }

 .swiper-slide {
   text-align: center;
   font-size: 18px;
   display: flex;
   justify-content: space-evenly;
   align-items: flex-end;
 }

 .swiper-slide img {
   display: block;
   width: 19%;
   object-fit: cover;
 }

 .swiper {
   margin-left: auto;
   margin-right: auto;
 }


#loader{
   height: 100%;
   width: 100%;
   z-index: 99;
   background-color: black;
   position: fixed;
   top:0;
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
gap: 10px;
}
#loader h3{
   font-size: 2vw;
   font-weight: 2vw;
}
#page7{
   height:100vh;
   width:100%;
   position:relative
}
#page7-top{
   padding-top: 3vw;
   text-align: left;
   padding-bottom:1.2vw;
   border-bottom: 1px solid black;
}
#page7-top h3{
   line-height: 0.4vw;
   padding-left: 3vw;
   font-size: 1.7vw;
   font-weight: 500;
}
#page7-top h4{
   line-height: 0;
   font-size: 1.7vw;
   padding-right: 1rem;
   font-weight: 500;
}
.elem3{
   padding-top: 1vw; 
   padding-bottom: 3vw;
   overflow: hidden;
   align-items: center;
}
.elem3 h1{
   line-height: 4vw;
   text-align: center;
   font-size: 4vw;
   font-weight: 500;
   color: black;
   padding-left: 0.5rem;
   padding-right: 0.5rem;
}

#page8{
   height: 70vh;
   width: 100%;

   justify-content: center;
   align-items: center;
   align-content: center;
   display: flex;
   flex-direction: column;
   padding-top: 5vw;
   position: relative;
   gap: 0vw;

}
#page8 h3{
   line-height: 0;
font-size: 1vw;
font-weight: 500;
}
#page8 h1{
padding-top: 0;
   font-size: 4vw;
   font-weight: 500;
   border-bottom: 2px solid black;
}
#page9{
   background-color: black;
   position: relative;
   height:100vh;
   width:100%;
   justify-content: center;
  
}
#page9 nav{
   width: 100%;
   height:20%;
   position: relative;
   display: flex;
   flex-direction: row;
   align-items: center;
   align-content: center;
   justify-content: center;
   gap: 55vw;
}
#tagline h1{
   font-weight: 500;
}
 #tagline button{
background-color: transparent;
color: white;
font-family: nb;
border: 1.5px solid white;
font-size: 1.25vw;
cursor: pointer;
padding: 12px 14px 14px 12px;

border-radius: 30px ;
}
 #tagline h1{
   color: white;
 }
 #page9 nav #contacts{
   display: flex;
 }
 #page9 nav #contacts ul li{
   list-style: none;
   color: white;
 }
 #info{
   padding-top: 8vw;
   padding-bottom: 0;
  display: flex;
   color: white;
   justify-content: center;
   gap:60vw;
 }
 #info1{
   text-align: left;
 }
 #info1 h3{
   font-weight: 500;
   font-size: 1.25vw;
 }
 #copyright{
   display: flex;
   gap: 4vw;
   padding-bottom: 0;
 }
 #copyright h3{
   font-weight: 500;
   font-size: 1vw ;
   line-height: 0;
   padding-bottom: 0;
 }
 #footer-content{
   font-family: rejoy;
   color: white;
 }
 #footer-content h1 {
   font-size: 26vw;
   font-weight: 300;
   padding-bottom: 0;
   line-height: 0;
   position: relative ;
   top: -4.5vw;
   
 }
 #footer-content h1 span{
   display:inline-block
 }